/*Font Styles*/
@font-face {
  font-family: "League Spartan";
  src: url(../fonts/LeagueSpartan-Bold.otf)
    format('opentype');
}

@font-face {
  font-family: "League Gothic";
  src: url(../fonts/LeagueGothic-Italic.otf)
    format('opentype');
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Styling*/

html {
  font-size: 16px;
}

p, span, li {
  font-family: "Montserrat";
  font-size: 1.1rem;
}

h3 {
  font-family: "League Gothic";
  font-weight: bold;
  font-size: 2rem;
}

h4, h5 {
  font-family: "League Spartan";
  font-weight: bold;
  font-style: italic;
}

a {
  color: #062345;
}

/* NavBar Styling */

nav {

  height: 3rem;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
  height: 2.75rem;
  padding: 0 0 0 1rem;
}

.navbar-brand img {
  height: 100%;
  width: auto;
  flex-grow: 1;
}

.navbar-nav {
  float: right;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

nav a {
  padding: 0;
}

/* About Section Styling */

#about {
  margin-top: 3rem;
  background-color: #062345;
  color: white;
}

.about h3 {
  background-color: #ff47b8;
}

.about {
  padding-bottom: 1rem;
}

.about.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Values Section Styling */

#values {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffd4eb;
  /*background-image: -webkit-linear-gradient(155deg, #ffd4eb  35%, #ff47b8 35%);*/
  color: #062345;
}

#values h3 {
  background-color: #062345;
  color: white;
}

.values.row {
  display: flex;
  align-items: flex-start;
  background-color: #ffd4eb;#ffd4eb
}

.value {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

/* Team Section Styling */

#team {
  text-align: center;
  background-color: #062345;
  color: white;
}

.team-head {
  display: flex;
  justify-content: center;
}

#team h3 {
  background-color: #ff47b8;
}

#team .row {
  display: flex;
  justify-content: space-around;
}

.member {
  padding-bottom: 1rem;
}

/* Contact Section Styling */

#contact {
  text-align: center;
  background-color: #ffd4eb;
  padding-bottom: 1rem;
  color: #062345;
}

.contact-head {
  display: flex;
  justify-content: center;
}

#contact h3 {
  background-color: #062345;
  color: white;
}

.social-media {
  display: inline-flex;
  align-items: center;
}

.social-media span {
  padding-left: 0.5rem;
}

/* Medical and Social Resources Section Styling */

#resources {
  text-align: center;
  color: #062345;
}

.resource {
  color: #062345;
}
